* {
    font-size: 22px;
    color: red;
    font-family: Helvetica, Arial, sans-serif;
    background-color: azure;
    margin-left: 2%;
    margin-right: 2%;
}

img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-width: 750px;
}

h1 {
    color: rgb(255, 166, 0);
    text-align: center;
}

h2 { 
    color: rgb(255,166,0);
    font-style: oblique;
}

h3 {
    color: green;
    font-style: italic;
    text-align: center;
}

h4 {
    color: mediumorchid;
    font-family: 'Times New Roman', Times, serif ;
}

.recipe-descriptions {
    color: rgb(9, 105, 100);
    font-size: 22px;
    font-style: oblique;
}
.menu-date {
    color: goldenrod;
    font-weight: 700;
    font-style: oblique;
}

 a,
 li,
 em {
     color: blue;
     font-size: 18px;
     font-style: oblique;
 }